<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main class="login">
    <div class="login-Box">
        <header class="logo">
            <h1>Logo</h1>
        </header>

        <div class="form-control">
            <label for="email">이메일</label>
            <input id="email" class="user_email" type="email" placeholder="email">

            <label for="password">비밀번호</label>
            <input id="password" class="password" type="password" placeholder="password">

            <div class="loginBtn">
                <button class="btn btn-primary" type="submit">로그인</button>
                <button class="btn btn-outline" type="button">회원가입</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>