body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.join {
    width: 100%;
    max-width: 420px;
    padding: 8px 4px;
    color: white;
}

.join .logo {
    text-align: center;
    margin-bottom: 30px;
}

.join .logo h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #444;
    letter-spacing: -0.5px;
}

.form-control label {
    display: block;
    margin: 15px 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444;
}

.form-control input {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 14px;
    font-size: 15px;
    outline: none;
    transition: 0.15s ease;
    background: white;
}

.form-control input:hover{
    border: 1px solid lightgray;
    transition: 0.15s ease;
}

.form-control select:hover{
    border: 1px solid lightgray;
    transition: 0.15s ease;
}

.form-gender {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.form-gender input[type="radio"] {
    display: none;
}

.gender-card {
    padding: 12px 20px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    font-size: 15px;
    color: black;
    width: 90%;
    height: 20px;
    transform: translateX(13px);
}

.form-gender input[type="radio"]:checked + .gender-card {
    background: #777;
    border: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.joinBtn {
    margin-top: 20px;
}

.btn {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #444;
    transform: translateX(13px);
}

.btn:hover {
    background: #444;
    color: white;
    transition: 0.3s ease;
}

