body {
    margin: 0;
    padding: 0;
    background: white;
    color: dimgray;
    display: block;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #eaeaea;
    margin: auto;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.container {
    width: 1100px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.container-dashboard {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.dashboard {
    width: 100%;
    min-width: 300px;
}

.calendar-card {
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    background: #e7e7ea;
    align-items: center;
}

.calendar-herder {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-herder button {
    padding: 5px 10px;
    border: none;
    background: #777777;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#calendar th {
    text-align: center;
    padding: 8px 0;
}

#calendar td {
    text-align: center;
    padding: 8px 0;
}

#calendar td:hover {
    background: #CCC;
    cursor: pointer;
}

.profile {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.profile-card {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    width: 85%;
    max-height: 355px;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.feature-icon {
    font-size: 50px;
    margin-right: 20px;
}

.profile-card h3 {
    margin: 5px 15px;
    font-size: 25px;
    color: #444;
}
.profile-card a {
    margin: 5px 15px;
    text-decoration: none;
    color: #3f51b5;
    font-size: 16px;
    text-align: left;
    font-weight: bold;

}

.container-editors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.tag-list {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    max-height: 355px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.4);
}

.tag-list input[type="radio"] {
    display: none;
}

.btn {
    padding: 12px 20px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 3px 0;
}

.tag-list input[type="radio"]:checked + .btn {
    background: #777;
    border: none;
    color: white;
    transition: 0.2s ease;
}

.tag-list .btn:checked {
    background: #444;
    color: white;
    transition: 0.3s ease;
}

.image-area {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 14px rgba(0,0,0,0.4);
}

#imageCount {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-area input[type="file"] {
    display: none;
}

.image-area label {
    padding: 5px 8px;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}

.image-area input[type="file"]:checked + .image-area label {
    background: #777;
    border: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



