body {
    margin: 0;
    background: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #eaeaea;
    margin: auto;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.container {
    width: 900px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

.post-title {
    margin-bottom: 20px;
}

.user-box {
    background: white;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
}

.top-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.title-input{
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 18px;
}

.date-input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 15px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    margin-bottom: 20px;
}

.main-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.slide-btn {
    font-size: 32px;
    background: none;
    cursor: pointer;
    padding: 20px;
    border: none;
    color: #444;
    transition: 0.2s;
}

.slide-btn:hover {
    color: #AAA;
}

.thumbnail-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.thumbnail-box img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.thumbnail-box img.active,
.thumbnail-box img:hover {
    opacity: 1;
    border: 2px solid black;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;
    margin-bottom: 20px;
    border: 1px solid #444;
}

.like-dislike-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.like-btn, .dislike-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
}

.like-btn {
    color: white;
    overflow: hidden;
    transition: 0.2s;
}

.like {
    transition: transform 0.3s ease;
    display: inline-block;
}

.like-btn:hover .like {
    transform: scale(1.2);
}

.dislike-btn {
    color: white;
    overflow: hidden;
    transition: 0.2s;
}

.dislike {
    transition: transform 0.3s ease;
    display: inline-block;
}

.dislike-btn:hover .dislike {
    transform: scale(1.2);
}