body {
    margin: 0;
    background: #999999;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 20px 40px;
    margin: auto;
    color: white;
}

header .logo {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

#logoMain {
    position: absolute;
    left: 0;
    height: 32px;
    width: 101px;
    background: none;
    border: none;
    padding: 0;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.headerBtn {
    display: flex;
}

#MyClosetButton {
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    background: none;
    transform: translateY(3px);
}

.movementPage a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

#AICoordinatorButton {
    border: none;
    color: #333;
    font-size: 16px;
    margin-left: 20px;
    background: none;
}

.user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 18px;
}

.userInformation {
    display: block;
    margin-left: 10px;
}

.date-like {
    display: block;
    justify-content: center;
    align-items: center;
}

.date-input {
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    width: 150px;
    transform: translateX(7px);
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    margin-bottom: 20px;
}

.main-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.slide-btn {
    font-size: 32px;
    background: none;
    cursor: pointer;
    padding: 20px;
    border: none;
    color: #444;
    transition: 0.2s;
}

.slide-btn:hover {
    color: #AAA;
}

.thumbnail-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.thumbnail-box img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.thumbnail-box img.active,
.thumbnail-box img:hover {
    opacity: 1;
    border: 2px solid black;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;
    margin-bottom: 20px;
    border: 1px solid #444;
}

.like-dislike-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.like-dislike-box button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    overflow: hidden;
    transition: 0.2s;
}

.like, .dislike {
    transition: transform 0.3s ease;
    display: inline-block;
}

.like:hover, .dislike:hover {
    transform: scale(1.2);
}