body {
    margin: 0;
    color: dimgray;
    background: #AAA;
}

.layout {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

/*.sidebar {*/
/*    width: 150px;*/
/*    padding: 20px 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 15px;*/
/*}*/

/*.sidebar button {*/
/*    padding: 10px;*/
/*    border: 1px solid #aaa;*/
/*    border-radius: 5px;*/
/*    background: white;*/
/*    cursor: pointer;*/
/*    transition: 0.2s;*/
/*}*/

/*.sidebar button:hover {*/
/*    background: #444;*/
/*    color: white;*/
/*}*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 20px 40px;
    margin: auto;
    color: white;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

#logoMain {
    position: absolute;
    left: 0;
    height: 32px;
    width: 101px;
    background: none;
    border: none;
    padding: 0;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.headerBtn {
    display: flex;
}

#MyClosetButton {
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    background: none;
    transform: translateY(3px);
}

#AICoordinatorButton {
    border: none;
    color: #333;
    font-size: 16px;
    margin-left: 20px;
    background: none;
    transform: translateY(3px);
}

.container {
    width: 1200px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    transform: translateX(-5px);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newPost-btn {
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #aaa;
    font-size: 14px;
    font-weight: 600;
    background: white;
    transition: 0.2s;
}

.newPost-btn:hover {
    background: #444;
    color: white;
    border: 1px solid white;
    transition: 0.2s;
}

.filter-bar {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.filter-list {
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #aaa;
    font-size: 14px;
    font-weight: 600;
    background: white;
}

.gallery {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.gallery-like {
    font-size: 14px;
    color: #777;
    margin-bottom: 3px;
    padding: 10px;
}

.gallery-like .btn {
    border: none;
    background: none;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 5;
    transition: 0.35s ease-in-out;
}

.img-box:hover .overlay {
    opacity: 1;
}

.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btn {
    border: none;
    background: #444;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

#page-numbers span {
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

#page-numbers .active {
    font-weight: 700;
    text-decoration: underline;
}