body {
    margin: 0;
    background: #aaa;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 20px 40px;
    margin: auto;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.container {
    width: 950px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* 프로필 카드 */
.profile-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #666;
    margin-bottom: 20px;
}

.profile-img-wrap {
    position: relative;
}

.profile-img-wrap img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #aaa;
}

.edit-img-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 2px solid #aaa;
    border-radius: 50%;
    background: #fff;
    padding: 5px;
    cursor: pointer;
}

.profile-info .user-email {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.item {
    margin-top: 20px;
    border: 1px solid #888;
    padding: 20px;
    border-radius: 10px;
}

.profile-section .item label {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    color: #444;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-section .item input[readonly] {
    display: flex;
    width: 250px;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
    gap: 20px;
    color: #333333;
}

.profile-section .item input {
    display: flex;
    padding: 10px;
    width: 250px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    gap: 20px;
    color: #333333;
}

.birth-dropdowns {
    margin-top: 10px;
}

.dropdown-group {
    display: flex;
    gap: 10px;
}

.birth-dropdown {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.birth-dropdown select {
    width: 120px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 8px;
    font-size: 15px;
    background: white;
    color: #333;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    width: 120px;
    padding: 8px;
    border: 1px solid #999;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 120px;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-list div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list div:hover {
    background: #eee;
}

.form-gender {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-gender input[type="radio"] {
    display: none;
}

.gender-card {
    padding: 10px 15px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    color: black;
}

.form-gender input[type="radio"]:checked + .gender-card {
    background: #777;
    border: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.edit-actions {
    margin-top: 20px;
}

.save-btn {
    margin-right: 5px;
    width: 60px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: #777777;
    color: white;
}

.cancel-btn {
    width: 60px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: red;
    color: white;
}

.edit-btn {
    justify-content: center;
    margin: 20px 0;
    width: 80px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #444;
}

.delete-account {
    display: flex;
    height: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.delete-account-btn {
    margin-right: 10px;
    width: 80px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid red;
    background: red;
    color: white;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    color: black;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.image-list img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
}

.image-list img.selected {
    border-color: black;
}

.upload-label {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 10px;
    background: #ddd;
    cursor: pointer;
    font-size: 15px;
}

.delete-img-btn {
    margin-left: 10px;
    border: none;
    background: #666666;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-save-btn, .modal-close-btn {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px 10px;
}